MONGO_URI_READ=mongodb+srv://read_23IT254:<PASSWORD_DOC>@<CLUSTER_HOST>/DB_23IT254?retryWrites=true&w=majority
MONGO_URI_WRITE=mongodb+srv://write_23IT254:<PASSWORD_GHI>@<CLUSTER_HOST>/DB_23IT254?retryWrites=true&w=majority